{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{% static "game_styles.css" %}'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }}</title>
</head>
<body>
    <header>
        <img class="logo" src='{% static "images/logo.png" %}' width=38px height=69px>
        <div class="nav-menu">
            <div class="nav-item"><a href="/">GameCase</a></div>
            <div class="nav-item"><a href="/team">О команде</a></div>
            <div class="login"><a href="/login">Профиль</a></div>
        </div>
    </header>
    
    <div class="rating">
        <div class="rating-label">
            <img class="rating-img" src='{% static "images/graph.png" %}'>
            <div class="rating-label-text">{{ rating }} рейтинг</div>
        </div>
        {% if not is_yours %}
        <div class="rating-buttons">
            <div class="rating-btn"><a href="/rate?game_id={{ id }}&rate=like">+</a></div>
            <div class="rating-btn">{{ rating }}</div>
            <div class="rating-btn"><a href="/rate?game_id={{ id }}&rate=dislike">-</a></div>
        </div>
        {% endif %}
    </div>
    
    <div class="desc">
        <h1>{{ name }}</h1>
        <p>{{ desc }}</p>
    </div>
    <div class="repo-link">
        <a href="{{ repo }}">{{ repo }}</a>
    </div>
    {% for photo in photos %}
    <div class="photo">
        <img src="{{ media_url }}{{ photo.photo }}">
    </div>
    {% endfor %}
    {% if is_yours %}
    <div class="delete">
        <a href="/delete?game_id={{ id }}">Удалить игру</a>
    </div>
    {% endif %}
    <footer>
        <div class="left">
            <h3>Балтика</h3>
            <p>help@gmail.com</p>
        </div>
        <div class="right">
            <a href="/">Главная</a>
            <a href="/team">О нас</a>
            <a href="/login">Профиль</a>
        </div>
    </footer>
</body>
</html>