body {
    background-color: #000000;
    margin: 0px;
}

header {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    height: 120px;
    border-bottom: 2px solid #FFFFFF;
}

.logo {
    margin-top: 20px;
    margin-right: 20px;
    float: left;
}

.nav-menu {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.nav-item {
    display: inline-block;
    margin-right: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.nav-item a:hover {
    color: #FE2727;
}

.login a:hover {
    color: #FE2727;
}

.nav-item a {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 30px;
    text-decoration: none;
    color: #FFFFFF;
}

.nav-item-active a {
    color:#FE2727;
}

.login {
    margin-right: 0px;
    margin-left: auto;
}

.login a {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 30px;
    text-decoration: none;
    color: #FFFFFF;
}

.title {
    display: flex;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 140px;
    flex-wrap: wrap-reverse;
}

.title-signs {
    display: flex;
    flex-direction: column;
    color:#FFFFFF;
}

.title-signs h1 {
    font-family: Montserrat;
    font-weight: 700px;
    color: #FE2727;
    font-size: 64px;
    max-width: 520px;
}

.title-signs p {
    font-family: Montserrat;
    font-weight: 300px;
    font-size: 32px;
    max-width: 380px;
}

.start-btn {
    padding-left: 53px;
    padding-right: 53px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFFFFF;
    color: #000000;
    width: fit-content;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 32px;
    
}

.start-btn:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.title a {
    margin-top: 30px;
    text-decoration: none;
    color: #000000;
}

.steps {
    display: flex;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 148px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

.step h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.step h3 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    color: #0076B8;
    max-width: 380px;
    margin-top: 15px;
}

.pros {
    background-color: #FE2727;
}

.pros-title {
    background: linear-gradient(#000000, #FE2727);
    padding-top: 270px;
    padding-left: 261px;
    padding-right: 261px;
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
}

.desc {
    margin-top: 169px;
    margin-left: 261px;
    margin-right: 261px;
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 43px;
    color: #FFFFFF;
}

.pros-table {
    padding-top: 150px;
    padding-left: 261px;
    padding-right: 261px;
    background-color: #FE2727;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pros-card {
    padding-bottom: 120px;
}

.pros-card h3{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 46px;
    color: #FFFFFF;
}

.pros-card p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    max-width: 350px;
}

.transition {
    height: 140px;
    background: linear-gradient(#FE2727, #000000);
}

.reg-form {
    display: flex;
    justify-content: center;
}

.reg-form form {
    padding-left: 47px;
    padding-right: 47px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 60px;
    height: fit-content;
}

.reg-form h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 63px;
    margin-bottom: 53px;
}

.reg-form input[type=text] {
    margin-right: 15px;
    margin-left: 15px;
    outline: none;
    border: none;
    border-bottom: 4px solid #000000;
    margin-bottom: 30px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
}

.reg-form input[type=password] {
    margin-right: 15px;
    margin-left: 15px;
    outline: none;
    border: none;
    border-bottom: 4px solid #000000;
    margin-bottom: 30px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
}

.reg-form input[type=submit] {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 60px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 32px;
    margin-bottom: 70px;
    cursor: pointer;
}

.reg-form input[type=submit]:hover {
    background-color: #FFFFFF;
    color: #000000;
}

footer {
    background-color: #4E4E4E;
    margin-top: 70px;
    padding-top: 51px;
    padding-bottom: 51px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left h3{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}

.left p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}